$bg-primary: #000;
$bg-secondary: #320;
$color-primary: #fff;
$color-secondary: #888;

body {
  background-color: $bg-primary;
  color: $color-primary;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

label {
  display: block;
}

#overlay {
  position: absolute;
  pointer-events: none;
  align-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#main-menu {
  padding: 1rem;
  width: max-content;
  margin: auto;
  border: 2px solid white;
  border-radius: 1rem;
  background: #2a2a2aaa;
  backdrop-filter: blur(1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#games {
  display: flex;
  flex-direction: row;
}

#join-game {
  pointer-events: all;
}

#create-game {
  pointer-events: all;
}

input[type="text"],
input[type="number"],
select {
  background: #0004;
  color: white;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: 0 0.5rem;
}

option {
  background: #000;
  color: white;
}

button {
  background: #0004;
  color: white;
  border: 1px solid #fff;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.25s;

  &:hover {
    background: #000;
  }
}

#chat-input-button {
  padding: 0.5rem;
}

#username {
  margin-bottom: 0.5rem;
  pointer-events: all;
}

#loading {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 0.25em;
  background: linear-gradient(90deg, #e73c7e, #0000, #e73c7e, #0000, #e73c7e);
  background-size: 200% 100%;
  animation: gradient 2s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

#turn {
  position: absolute;
  visibility: hidden;
  top: 0;
  background-color: #0007;
  padding: 0.25em;
}

#time {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0007;
  padding: 0.25em;
}

#chat {
  position: absolute;
  bottom: 0;
  right: 0;
  width: min(50%, 16em);
  height: min(50%, 32em);
  background-color: #0007;
  outline: 2px solid #fff;
  padding: 0.25em;
  pointer-events: all;
  visibility: hidden;
}

#chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0007;
  min-height: 2em;
  padding: 0.25em;
  display: flex;

  input {
    width: 100%;
  }

  button {
    width: 4em;
  }
}

#chat-messages {
  position: absolute;
  inset: 0.25em;
  bottom: 2.25em;
  overflow-y: scroll;
  scrollbar-width: none;

  .message {
    margin: 0.25em 0;

    .username {
      font-weight: bold;
      border-bottom: 1px solid #fff;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

#chat-input-hide {
  display: none;
}

#chat-input-hide-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  pointer-events: all;
  cursor: pointer;
}

#chat-show {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  pointer-events: all;
  cursor: pointer;
}

#chat-input-hide:checked + #chat-show {
  display: block;
}

#chat-input-hide:checked + #chat-show + #chat {
  display: none;
}

h1 {
  margin-top: 0;
}

.room {
  color: #9797ff;
  cursor: pointer;
  text-decoration: underline;
}

.checkbox-container {
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
}

.checkbox-container input {
  display: none;
}

.checkbox-container svg {
  overflow: visible;
  margin: auto;
}

.checkbox-container .path {
  fill: none;
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.checkbox-container  input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}
